body{
background-image: url('half-of-an-avocado.jpg');
color:black;
background-position: fixed;
background-size: cover;
background-repeat: no-repeat;
}
.footer{
  background-color: black;
  margin-top: 30%;
  margin-left: ;
}
.name{
  font-family: 'Shadows Into Light', cursive;
  border-bottom-style:  solid;
  width: 170px;
  border-bottom-color: red;
}
ul{
margin-left: 15%;
list-style-type: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
.navbar{
	color: white;
	background-color: black;
	font-style: tahoma;

}
