*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  background-image: url('half-of-an-avocado.jpg');
  color:black;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer{
  margin-top:100px;
  background-color: black;
  margin-bottom: 0px;
}

.name{
  padding-left: 5px;
  font-family: 'Shadows Into Light', cursive;
  border-bottom-style:  solid;
  width: 170px;
  border-bottom-color: red;
}

ul{
text-align: center;
list-style-type: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar{
   padding-top: 10px;
   text-align: center;
   height:40px;
   color: white;
	 background-color: black;
	 font-style: tahoma;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  transition: 0.7s;
  border-bottom-style: inset;
  border-color: red;
}

.bdy{
  min-height: 500px;
	background-color: rgba(210,230,177, 0.75);
  
}
.homebody{
  padding-top: 100px;
  max-width: 1000px;
  font-size: 25px;
  font-family: 'Fresca', sans-serif;
  margin: auto;
  padding: 10px;
  min-width: 300px;
  border-bottom-style: inset;
  border-color: red;
}

.menubody{
  text-align: center;
  margin:auto;
  max-width: 700px;
  background-color:#d2e5b0;
}
